
<table class="table container">
  <thead>
    <tr>
      <li>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
      </li>
    </tr>
  </thead>
  <tbody>
    {{#each headers}}
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{open}}</td>
      <td>{{high}}</td>
      <td>{{low}}</td>
      <td>{{close}}</td>
      <td>{{volume}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>