<table>{{results}}</table>
<table class="table container">
  <thead>
    <tr>
      <li>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
        <th scope="col">Adj Close</th>

      </li>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each headers}}
      <th scope="row">{{date}}</th>
      <td>{{open}}</td>
      <td>{{high}}</td>
      <td>{{low}}</td>
      <td>{{close}}</td>
      <td>{{volume}}</td>
      <td>{{adjvolume}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>